doctype html
head
  // Google Tag Manager
  script.
    (function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
    'gtm.start':
    new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-PPTB2XV');
  // End Google Tag Manager
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Simple and Secure FYFY Wallet | FYFY Wallet by ANEA Labs Oy
  meta(name='description' content='FyFy wallet - A revolutionary way to pay for whatever you want to buy, multi-signature cryptocurrency wallet. Download the desktop app or install on Android or iOS.')
  // / Favicons
  link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
  link(rel='manifest' href='/site.webmanifest')
  link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#5bbad5')
  meta(name='msapplication-TileColor' content='#da532c')
  meta(name='theme-color' content='#ffffff')
  // / Facebook Open Graph shares
  meta(name='image' content='https://wallet.fyfy.app/img/fyfyio-facebook.png')
  meta(itemprop='name' content='FyFy Wallet by ANEA Labs Oy')
  meta(itemprop='image' content='https://wallet.fyfy.app/img/fyfyio-facebook.png')
  meta(content='FYFY Wallet by ANEA Labs Oy' property='og:title')
  meta(content='FYFY Wallet by ANEA Labs Oy' property='og:site_name')
  meta(name='og:type' content='website')
  meta(content='https://wallet.fyfy.app' property='og:url')
  // / Twitter cards
  meta(content='summary_large_image' name='twitter:card')
  meta(content='@fyfy_wallet' name='twitter:site')
  meta(content='Fast and business-friendly FYFY wallet' name='twitter:title')
  meta(content='FYFY Web Wallet, A revolutionary way to pay for whatever you want to buy on FYFY Fiat-backed stablecoin. Go to https://wallet.fyfy.app to get started.' name='twitter:description')
  meta(content='https://wallet.fyfy.app/img/fyfyio-twitter.png' name='twitter:image:src')
  // / End Open Graph & Twitter cards
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  link(rel='stylesheet' href='./css/styles.css')
  link(href='https://fonts.googleapis.com/css?family=Nunito:400,700' rel='stylesheet')
