extends ../_layouts/main.pug

block content
  section.container.my-5
    .row.align-items-center
      .col-md-6.text-center.text-md-left
        h1 Imprint.
        p FYFY Wallet is developed and operated by ANEA Labs Oy (FYFY.IO).
        p
          | We are registered in Finland under registration number: 
          strong 3203205-8
          | .
        p Our registered office and principal of business are located at
        p
          | 
          br
          |           Mannerheimintie 19 A 14
          br
          |           00250
          br
          |           Helsinki
          |           Finland
        p
          | You can contact us by writing to the business address given above or by email to 
          a(href='mailto:contact@fyfy.io') contact@fyfy.io
          | .